@model UserViewModel
@section Scripts
{
    <script src="@Url.Content("~/js/GroupTextWidthRegulation.js")" type="text/javascript" defer></script>
}

<h2>Create User</h2>
<hr class="my-4" />

<div class="container">
    <form asp-controller="User" asp-action="CreateUser" method="post">

        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text">Username(Station name):</span>
                <input asp-for=UserName type="text" class="form-control" req/>
            </div>
        </div>

        <div class ="row">
            <div class="input-group mb-3">
                <span class="input-group-text">Password:</span>
                <input asp-for=Password type="password" class="form-control" required/>
            </div>
        </div>

        <div class ="row">
            <div class="input-group mb-3">
                <span class="input-group-text">Privilages(0 - Table, 1 - Worker)</span>
                <input asp-for=Privilages type="range" min="0" max="1"  required />
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        
    </form>
</div>

