<div class="container panel">
            <div class="row">

                <div class="card col-7 col-lg-5 mb-3">

                    <div class="card-header">
                        <h5>User Creation</h5>
                    </div>

                    <div class="card-body bg-light picture-container">
                        <img src="~/images/User/UzytkownikDodaj.png" class="img-fluid" alt="Responsive image">
                    </div>

                    <div class="card-footer">
                        <a class="nav-link text-dark col btn btn-primary m-3 py-2 text-white"
                   asp-area="" asp-controller="User" asp-action="Create">Create User</a>
                    </div>

                </div>

                <div class="card col-7 col-lg-5 mb-3">
                    <div class="card-header">
                        <h5>Users Details</h5>
                    </div>

                    <div class="card-body">
                        <img src="~/images/User/UzytkownikDetale.png" class="img-fluid" alt="Responsive image">
                    </div>

                    <div class="card-footer">
                        <a class="nav-link text-dark col btn btn-primary m-3 py-2 text-white"
                    asp-area="" asp-controller="User" asp-action="Details">User Details</a>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="card col-7 col-lg-5 mb-3">
                    <div class="card-header">
                        <h5>Delete User</h5>
                    </div>

                    <div class="card-body">
                        <img src="~/images/User/UzytkownikUsun.png" class="img-fluid" alt="Responsive image">
                    </div>

                    <div class="card-footer">
                        <a class="nav-link text-dark col btn btn-primary m-3 py-2 text-white"
                         asp-area="" asp-controller="User" asp-action="Delete">Delete User</a>
                    </div>
                </div>
            </div>
    </div>

