<h4>This is my Ingridients List page!</h4>

<p>This is page for managing Lists with Pizza Ingridients~~</p>
<div class="container line-container">
    <hr />
</div>



<div class="container panel">
    <div class="row">
        <div class="card col-7 col-lg-5 mb-3">
            <div class="card-header">
                <h5>Ingridient List Creation</h5>
            </div>

            <div class="card-body">
                <img src="~/images/IngridientsList/ListaSkladnikowDodaj.png" class="img-fluid" alt="Responsive image">
            </div>

            <div class="card-footer">
                <a class="nav-link text-dark col btn btn-primary m-3 py-2 text-white"
                   asp-area="" asp-controller="IngridientsList" asp-action="Create">Create</a>
            </div>
        </div>

        <div class="card col-7 col-lg-5 mb-3">
            <div class="card-header">
                <h5>Ingridient Lists Details</h5>
            </div>

            <div class="card-body">
                <img src="~/images/IngridientsList/ListaSkladnikowDetale.png" class="img-fluid" alt="Responsive image">
            </div>

            <div class="card-footer">
                <a class="nav-link text-dark col btn btn-primary m-3 py-2 text-white"
                   asp-area="" asp-controller="IngridientsList" asp-action="Details">Details</a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="card col-7 col-lg-6">
            <div class="card-header">
                <h5>Delete Ingridient List</h5>
            </div>

            <div class="card-body">
                <img src="~/images/IngridientsList/ListaSkladnikowUsun.png" class="img-fluid" alt="Responsive image">
            </div>

            <div class="card-footer">
                <a class="nav-link text-dark col btn btn-primary m-3 py-2 text-white"
                   asp-area="" asp-controller="IngridientsList" asp-action="Delete">Delete</a>
            </div>
        </div>

       
    </div>
</div>
