@model List<string>


<h2>Available Menus</h2>
<div class="my-3 container">
    @{
        if (Model.Count >= 1)
        {
            <form asp-controller="Menu" asp-action="ActivateMenu" class="" method="post">
                <select class="form-select" asp-for="@Model[0]">
                    @foreach (var menu in Model)
                    {
                        <option value="@menu">@menu</option>
                    }
                    <option value="_null_pizza_">-No menus avalible-</option>
                </select>

                <button type="submit" class="btn btn-success my-3">Activate</button>
            </form>
        }
        else
        {
            <hr />
            <h4>No menus created yet</h4>
        }
    }
</div>

