@{
    <div class="container panel">
        <div class="row ">
            <div class="card col-7 col-lg-5 mb-3">
                <div class="card-header">
                    <h5>Menu Creation</h5>
                </div>

                <div class="card-body">
                    *Description*
                </div>

                <div class="card-footer">
                    <a class="nav-link text-dark col btn btn-primary m-3 py-2 text-white"
                   asp-area="" asp-controller="Menu" asp-action="Create">Create Menu</a>
                </div>
            </div>

            <div class="card col-7 col-lg-5 mb-3">
                <div class="card-header">
                    <h5>Menu Details</h5>
                </div>

                <div class="card-body">
                    *Description here*
                </div>

                <div class="card-footer">
                    <a class="nav-link text-dark col btn btn-primary m-3 py-2 text-white"
                   asp-area="" asp-controller="Menu" asp-action="Details">Menu Details</a>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="card col-7 col-lg-5 mb-3">
                <div class="card-header">
                    <h5>Activate Menu</h5>
                </div>

                <div class="card-body">
                    *Description*
                </div>

                <div class="card-footer">
                    <a class="nav-link text-dark col btn btn-primary m-3 py-2 text-white"
                   asp-area="" asp-controller="Menu" asp-action="Activate">Activate Menu</a>
                </div>
            </div>

            <div class="card col-7 col-lg-5 mb-3">
                <div class="card-header">
                    <h5>Delete Menu</h5>
                </div>

                <div class="card-body">
                    *Description*
                </div>

                <div class="card-footer">
                    <a class="nav-link text-dark col btn btn-primary m-3 py-2 text-white"
                   asp-area="" asp-controller="Menu" asp-action="Delete">Delete Menu</a>
                </div>
            </div>

        </div>
    </div>
}
