<h4>This is my Menu Manager page!</h4>
<p>This is page for managing restaurant Menu~~</p>
<div class="container line-container">
    <hr />
</div>

<div class="container panel">
    <div class="row ">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Table</th>
                    <th>Order</th>
                    <th>Price</th>
                    <th>Confirm</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody id="table-body">

            </tbody>
        </table>
        <!--
            1.1.Add Button to toggle "Refresh orders"
            1.Get orderss
            2.Sort Them into the table (Count, orderer name, ordered items, accept, reject);
            3.Update table every 30 seconds
        -->

    </div>
</div>

<script type="text/javascript">
    var ordersTable = document.getElementById("table-body");

    var count = 0

    setInterval(function () {
        $.ajax({
            url: '/Orders/getData',
            type: 'post',
            data: { data: @Model.Id },
            dataType: 'json',
            success: function (data) {
                if (true) {
                    ordersTable.innerHTML = "";
                    for (var i = 0; i < data.length; i++) {
                        var trTemplate = `<tr><td>${i}</td><td>${}</td><td>${}</td><td>${}</td></tr>`
                        ordersTable.append()
                    }
                }
            },
            error: function (data) {

                count++;
                if (count > 20) {
                    alert("Something went wrong...")
                }
            }
        });
    }, 15000);

</script>