@model List<ItemListHolderModel<OrderViewModel, OrderItemsViewModel>>
<h3>Pending orders</h3>
<p>This is page for managing restaurant pending orders~~</p>
@{
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
    
}
<div class="container line-container">
    <hr />
</div>

<div class="container panel">
    <div class="row ">
        
        <table class="table table-striped table-dark" id="data-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Orderer Name</th>
                    <th scope="col">Order Items</th>
                    <th scope="col">Order Price</th>
                    <th scope="col">Confirm</th>
                    <th scope="col">Reject</th>
                </tr>
            </thead>
            <tbody id="data-table-body">
                
            </tbody>
            
        </table>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    var goBackForm = document.getElementById("form");
    var dataTable = document.getElementById("data-table");
    var dataTableBody = document.getElementById("data-table-body");

    window.onload = function() {
        $.ajax({
            url: '/Orders/getOrders',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                dataTableBody.innerHTML = "";

                data.forEach(order => {
                    //Good up to this point
                    dataTableBody.innerHTML += `
                            <tr>
                                <td>${order.orderId}</td>
                                <td>${order.ordererName}</td>
                                <td>${order.pizzas}</td>
                                <td>${order.price}pln</td>
                                <td>
                                    <form action="/Orders/ConfirmOrder" method="post">
                                        <input name="orderId" type="number" value="${order.orderId}" hidden>
                                        <button type="submit" class="btn btn-success">Confirm</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/Orders/RejectOrder" method="post">
                                        <input name="orderId" type="number" value="${order.orderId}" hidden>
                                        <button type="submit" class="btn btn-danger">Reject</button>
                                    </form>
                                </td>
                            </tr>
                            `;
                });
            },
            error: function (data) {

                count++;
                if (count > 20) {
                    alert("Something went wrong...")
                    count = 0;
                }
            }
        });
    };

    setInterval(function () {
        $.ajax({
            url: '/Orders/getOrders',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                dataTableBody.innerHTML = "";

                data.forEach(order => {
                    //Good up to this point
                    dataTableBody.innerHTML += `
                        <tr>
                            <td>${order.orderId}</td>
                            <td>${order.ordererName}</td>
                            <td>${order.pizzas}</td>
                            <td>${order.price}pln</td>
                            <td>
                                <form action="/Orders/ConfirmOrder" method="post">
                                    <input name="orderId" type="number" value="${order.orderId}" hidden>
                                    <button type="submit" class="btn btn-success">Confirm</button>
                                </form>
                            </td>
                            <td>
                                <form action="/Orders/RejectOrder" method="post">
                                    <input name="orderId" type="number" value="${order.orderId}" hidden>
                                    <button type="submit" class="btn btn-danger">Reject</button>
                                </form>
                            </td>
                        </tr>
                        `;
                });
            },
            error: function (data) {

                count++;
                if (count > 20) {
                    alert("Something went wrong...")
                    count = 0;
                }
            }
        });
    }, 3000);

</script>