<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizza2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pizza2.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin .>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik&display=swap" rel="stylesheet" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="text-center py-3">
        <h1 class="text-special"> <b> Pizzerina 2 </b> </h1>
    </header>

    <div class="container">
        <main role="main" class="pb-3">

            @if (TempData["error"] != null){
                <div class="container my-3">
                    <div class="row text-center">
                        <div class="col">
                            <span class="text-danger border border-danger bg-black">
                                @TempData["error"]
                            </span>
                        </div>
                    </div>
                </div>
            }

            @if (TempData["message"] != null)
            {
                <div class="container my-3">
                    <div class="row text-center">
                        <div class="col">
                            <span class="text-success border border-danger bg-success">
                                @TempData["message"]
                            </span>
                        </div>
                    </div>
                </div>
            }

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Pizza2App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
