@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Pizzeria App Panel!</h1>
    <p>Select one of the options form the panel above~ </p>
</div>
