@model AddMultipleModel<PizzaViewModel, Dictionary<int,string>>

<h1>Create Pizza</h1>

<div class="container">
    <form asp-controller="Pizza" asp-action="CreatePizza" method="post">

        <div class="row">
            <div class="col">
                <label class="form-label mb-3">Pizza Name</label>
                <input asp-for=itemOne.PizzaName type="text" class="form-control" placeholder="ex.Carbonara" required/>
            </div>
        </div>
        
        <div class="row">
            <div class="col form-check form-check-inline">
                <p class="form-label mb-3"> Automaticly calculate pizza price? </p>

                <div class="form-check form-check-inline">
                    <input class="form-check-input auto-price" name="inlineCheckbox" type="radio" id="inlineCheckbox" value="1">
                    <label class="form-check-label" for="inlineCheckbox1">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input auto-price" name="inlineCheckbox" type="radio" id="inlineCheckbox" value="0">
                    <label class="form-check-label" for="inlineCheckbox2">No</label>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <span class="col-12">Pizza Price</span>
            <div class="input-group align-bottom">
                <input asp-for=itemTwo type="number" class="form-control" id="set-price" min="0" step="0.01" placeholder="19.99" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label class="form-label mb-3 my-3">Pizza Ingridients list ID</label>
                <select asp-for=itemOne.IngridientsListId class="form-select">
                    @{
                        foreach (var ingridients in Model.itemTwo)
                        {
                            <option value="@ingridients.Key">@ingridients.Key - @ingridients.Value</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-primary my-2">Save</button>
        </div>

    </form>
</div>

<script>
    //Disable inputs used for setting price if Automatic Price option is selected
    var radioButtons = document.getElementsByClassName("auto-price");
    var priceInput = document.getElementById("set-price");

    for (radio in radioButtons) {
        radioButtons[radio].onclick = function () {
            console.log('Function firing');
            if (this.value == 1) 
            {
                console.log('Field off');
                priceInput.disabled = true;
            } else 
            {
                console.log('Field on');
                priceInput.disabled = false;
            }
        }
    }
</script>